__pycache__/ 
.venv/ 
*.pyc 
*.log 
data/ 
models/ 
.env 
interface.zip
interface/presentation/index.html
interface/presentation/README.md
interface/presentation/style.css
interface/code_rough_presentation.zip
interface/presentation/timing_diagram.svg
